html{
    font-size: 14px;
    /* border-collapse: collapse; */
}

.a{
    background: #4caf50;
    border: 1px solid #1b5e20;
}

.b{
    background: #03a9f4;
    border: 1px solid #01579b
}

.c{
    background: #f44336;
    border: 1px solid #d50000 
}